* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bento-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 3.5fr 1.4fr;
  grid-template-rows: auto 1.6fr 1fr;
  gap: 20px;
  border: 2px solid red;
  padding: 20px;
  overflow: hidden;
}

/* Top bar with logo and menu */
.top-bar {
  grid-column: 1 /-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background: #f8f9fa;
  border-radius: 0 0 8px 8px;
  border: 2px solid blue;
}

/* Scrollable blog area */
.blog-panel {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: auto;
  border: 2px solid blue;
}

/* The button container in the middle */
.middle-interaction {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* Position the button relative to the panel's movement */
  position: relative;
  /* Add a subtle line or background to  >>> FUN TASK*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* The goodies panel */
.goodies-panel {
  grid-column: 1/2;
  grid-row: 4/5;
  border: 2px solid firebrick;
  border-radius: 8px;
  width: 100%;
  height: 75%;
  transition: all 0.5s ease-in-out;
}

/* ---  Toggle State: When the button is clicked   --- */
body.goodies-expanded #blog-panel {
  grid-row: 4/5;
  height: 20%;
  overflow-y: hidden;
}

body.goodies-expanded .middle-interaction {
  grid-row: 3/4;
}

body.goodies-expanded .goodies-panel {
  grid: 2/3;
}

#side-panel {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: left;
  border: 2px solid red;
  height: 80%;
  width: 80%;
  border-radius: 8px;
}

#box-flex {
  width: 100%;
  display: flex;
  gap: 120px;
  /* border: 2px solid red; */
}

#section3 {
  grid-column: 2/3;
  grid-row: 3/4;
  border: 2px solid bisque;
  width: 96%;
  height: 108%;
  margin-top: -100px;
  border-radius: 8px;
}

#section4 {
  grid-column: 1/2;
  grid-row: 3/4;
  border: 2px solid firebrick;
  border-radius: 8px;
  width: 100%;
  height: 75%;
}
