* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#bodyCon {
  height: 90vh;
}

.banner {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: #3959e9;
  color: aliceblue;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 20px;
}

figure {
  width: 92%;
  margin: 10px auto;
  padding: 10px;
  /* border: 2px solid rgba(0, 0, 0, 0.03); */
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

img#pic {
  border: 2px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.03);
}

figcaption {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

footer {
  /* border: 2px solid red; */
  height: 12%;
  margin-top: 22px;
}

.botFoot {
  margin: 18px 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 2px solid red; */
}

.formIndex {
  /* border: 2px solid red; */
  padding: 20px;
}

h4 {
  margin-bottom: 2px;
}
