/* Body Towards Each Page */
/*Responsive Web Design. The Don.  */

/* Min-width for desktop 1440px and min-height 1024px */
:root {
  --primary-color: #dcdce5;
  --secondary-color: #edebcc;
  --button-color: #6c0000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: var(--primary-color);
  font-family: "Playfair Display", serif;
}

:root {
  --primary-color: #dcdce5;
  --secondary-color: #edebcc;
  --button-color: #6c0000;
}

h1,
h5 {
  font-family: "Playfair Display", serif;
}

.main-container {
  /* border: 2px solid red; */
  margin-bottom: -30px;
}

#newsletter {
  /* border: 2px solid blue; */
  height: 40vh;
  margin: 0 0 0 auto;
  margin-right: 100px;
}

#projects {
  /* border: 2px solid yellow; */
  width: 65%;
  margin: 0 0 0 auto;
  margin-right: 20px;
}

#hero {
  /* border: 2px solid green; */
  width: 32%;
  height: 80vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
}

.menu-header {
  margin: 0 50px;
}

/* Hero Section */
#hero {
  text-align: left;
}

#hero img {
  border: 3px solid var(--button-color);
  border-radius: 50%;
}

#newsletter .card {
  border-radius: 8px;
  border: 1px solid #ccc;
  background: var(--secondary-color);
}

/* Projects Section */
#projects .card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: var(--secondary-color);
}

#projects .card-body {
  text-align: left;
}

.text {
  color: var(--button-color);
}

.text-h1 {
  /* border: 2px solid red; */
  text-align: center;
}

.bold {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.btn {
  background: var(--button-color);
  color: var(--secondary-color);
}

.btn:hover {
  background: var(--button-color);
  opacity: 0.85;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

/* Footer */
footer {
  font-size: 0.9rem;
  background: var(--primary-color);
}

.copy-text {
  text-align: center;
}

.social,
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

#birthday {
  /* border: 2px solid red; */
  margin: 14px auto;
  display: block;
  width: 140px;
  margin-bottom: 20px;
}

label.birthday {
  /* border: 2px solid red; */
  display: block;
  text-align: center;
}

.social {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  margin: -42px 0 0 auto;
  margin-right: 40px;
  font-size: 1.4em;
}

.final-button {
  display: block;
  width: 150px;
  margin: 0 0 0 auto;
  margin-right: auto;
}

.button {
  margin-left: 150px;
}
